.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background: lightgrey;
    font-size: 2em;
    padding-top: 15px;
    height: 9vh;
   
}

.nav-bar a{
    text-decoration: none;
    font-family: 'Gugi', cursive;
}